# Activar el motor de reescritura
RewriteEngine On

# Quitar la extensión .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]

# Redirigir la raíz del sitio a index.php
RewriteRule ^$ index.php [L]

# Redirigir URLs amigables
RewriteRule ^InicioDeSesion$ login.php [L]
RewriteRule ^PanelAdministrador$ admin-usuarios.php [L]

# Redirigir arbolado.php a Arbolado_NombreMunicipio
RewriteCond %{THE_REQUEST} \s/+arbolado\.php\?id_municipio=([^\s&]+) [NC]
RewriteRule ^ Arbolado_%1? [R=301,L]

# Reescribir internamente Arbolado_NombreMunicipio a arbolado.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^Arbolado_(.+)/?$ arbolado.php?nombre_municipio=$1 [L,QSA]

# Agregar la regla para contraseña
RewriteRule ^CambiarContraseña$ reset_password.php [L]
RewriteRule ^RecuperarContraseña$ forgot_password.php [L]
RewriteRule ^CambiarContraseña/(.*)$ reset_password.php?token=$1 [L,QSA]